div {
    width: 800px;
    border: 2px solid grey;
    margin: 50px auto 0;
    padding: 0 15px;
    font-family: Verdana, sans-serif;
    background-color: #d8e9f1;
}

.truncate {
    background: #f4eddf; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.ellipsis:hover {
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
}

.wrap {
    position: absolute;
    left: 50%;
}